.container {
	width: 100%;
	.city-select{
		color:#f0f;
	}
	.swiper{
		margin:20rpx auto;
		height:360rpx;
		.swiper-item{
			box-sizing: border-box;
			.tianqi_item{
				background:  linear-gradient(to top, rgba(26,115,232,.8), rgba(255,192,203,0.3));
				padding: 20rpx;
				display: flex;
				padding-left: 45rpx;
				image{
					width: 130rpx;
					height: 75rpx;
					margin-right: 60rpx;
					margin-top: 90rpx;
				}
				.right{
					margin:40rpx;
					h2{
						font-size: 48rpx;
						font-weight: 900;
					}
					text{
						display: block;
						font-size: 30rpx;
						line-height: 46rpx;
					}
				}
			}
		}	
	}
	.tip{
		background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
		text-align: center;
		
	}
}

