page{
	height: 100%;
	width: 100%;
	.container {
		width: 100%;
		padding: 20rpx;
		box-sizing: border-box;
		background: #fff;
		.hidden-canvas{
			position: relative;
			width: 100%;
			height: 0rpx;
			overflow: hidden;
			canvas{
				position: absolute;
				left:10000rpx;
			}
		}
		.img-box{
			display: flex;
			padding: 20rpx;
			width:100%;
			image{
				margin: auto 10rpx;
			}
			.img{

			}
			.new-img{
				background: #f00;
			}
		}
	}
	
}
