page{
	height: 100%;
	width: 100%;
	.container {
		width: 100%;
		padding: 20rpx;
		box-sizing: border-box;
		background: #fff;
		// overflow: hidden;
		.mycanvas{
			// margin-top: 1000rpx;
		}
		.upImg{
			text-align: center;
			margin: auto;
		}
		.img-box{
			display: flex;
			padding: 20rpx;
			width:100%;
			image{
				margin: auto 10rpx;
				height: 180px;
			}
			.img{

			}
			.new-img{
				background: #f00;
			}
			.huzhao-img{
				background: rgb(67,142,219);
			}
			.blue-img{
				background: rgb(60,140,220);
			}
			.white-img{
				background: rgb(255,255,255);
			}
		}
	}
	
}
