tianqi{
	width:100%;
}
.motto {

	align-items: center;
}

.face {
	@r: 24px;

	width: @r;
	height: @r;
	border-radius: 50%;
	margin-right: 10px;
}
.util-title{
	text-align: center;
	margin: 48rpx auto;
}
.util-list{
	width: 100%;
	.util-item{
		display: inline-block;
		width: 50%;
		height:300rpx;
		box-sizing: border-box;
		padding:10rpx;
		text-align: center;
		image{
			width:100%;
			height:100%;
			border: 1rpx solid #000;
		}
	}
}
.powered {
	margin-top: 30px;
	font-size: 11px;
	color: gray;
}
